.volunteer-login{
    text-align: center;
    margin-top:50px;
}
.form-logo{
    width:202px;
    height:60px;
}

.login-form{
    border: 1px solid gray;
    padding:40px;
    width:500px;
    margin: 0 auto;
    margin-top:20px;
}
